{% extends "base.html" %}

    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <!-- staticフォルダ内のcssフォルダ内のsetting.cssを読み込む -->
    {% endblock %}

    {% block title %}
    <title>ルール設定</title> 
    {% endblock %}
    
    {% block content %}

     
 
 
    <div class="title_header">
 
 

        <div class="dropdown">
            <img id ="down_test" src="https://cdn.icon-icons.com/icons2/933/PNG/512/drop-down-round-button_icon-icons.com_72773.png" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

                
            
            <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>

        <h1 class="protec_header">
            protec
        </h1>


    </div>

    <div class="rule_content">
        <div class="rule">
            <h1>ルール設定</h1>
                <form method="POST" action="/rule_settings">
                    
                        <label for="rule_name">ルール名:</label>
                        <input type="text" id="rule_name" name="rule_name" required><br><br>
            
                        <div class="param">
                            <label for="rule_param">ルールパラメーター:</label>
                            <input type="text" id="rule_param" name="rule_param" required><br><br>
                        </div>
        </div>

        <div class="check_detail">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                        <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
                        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
                    </div>
                    <div class="slide_toggle">
                        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br>

                        <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                        <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>

                        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="success-outlined">Checked success radio</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                        <label class="btn btn-outline-danger" for="danger-outlined">Danger radio</label>
                    </div>
                    <div class="param_detail">
                        <label for="customRange1" class="form-label">Example range</label>
                        <input type="range" class="form-range" id="customRange1">


                        <label for="disabledRange" class="form-label">Disabled range</label>
                        <input type="range" class="form-range" id="disabledRange" disabled>
                    
                    </div>

                    <div class="login">
                        <input type="submit" value="保存">
                    </div>
                </form>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <!-- dropdown-menuに必要なpopper.min.jsを読み込む -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <!-- bootstrapのJavaScriptを読み込んでる -->
    {% endblock %}

    {% block footer %}

    {% endblock %}
